.intro
  .wrapper_for_sorting
    .headline
      img(src=img('logo_wite.png'))
    .color_line
      .scroller(data-bind="css: {active: loading}")
        .no_1
        .no_1
    .footer 
      img.funnyplan_logo(src=img('icon/funnyplan_white.png'))
      p Designed by Codinator™