.login
  .headline
    img(src=img('logo_grey.png'))
  .rows
    .row.button.facebook(data-bind='vtab: login_facebook')
      .icon
        img(src=img('icon/facebook.png'))
      .text with 
        b Facebook
    //.row.button.email(data-bind="vtab: signup_email")
      .icon 
        img(src=img('icon/mail.png'))
      .text with 
        b e-mail
  .footer 
    img(src=img('icon/funnyplan_grey.png'))
