.signup
  .body_section.window-content-scrolled
    .portraits_setting
      .wrapper
        .profile_image
        .change_icon
          img(src=img('icon/profile_edit_button.png'))
    .input_information
      .input_name
        input(type='text', placeholder='Your full name')
      .input_email
        input(type='text', placeholder='mymail@mail.com')
        img(src=img('icon/signin_approved.png'))
  .navi_bar
    .for_background_color
    .contents
      .left_button(data-bind='vtab: close')
        img(src=img('icon/header_back_icon.png'))
      .page_title
        p Sign up

