@font-face
    font-family 'Droid Sans'
    font-weight normal
    src local('Droid Sans'), url('/static/fonts/DroidSans.ttf') format('truetype')

@font-face
    font-family 'Droid Sans'
    font-weight bold
    src local('Droid Sans'), url('/static/fonts/DroidSans-Bold.ttf') format('truetype')
